<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7GZ5PH7EH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Z7GZ5PH7EH');
    </script>

    <meta charset="UTF-8">
    <title>Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>Processing, please wait...</p>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/create_table', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    window.location.href = '/success';
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>